%section#rewardsContentImage1{data: {type: 'background', speed: '5'}}
.blurb.row
  .medium-10.columns.medium-centered
    <h3>Please come in for a visit to get your <span>rewards card</span> and start earning free meals today!</h3>
.blurb.row
  .medium-10.columns.medium-centered
    .rewardsblurb
      %ul
        %li Earn one point per dollar of net purchases from regular menu.
        %li Negotiated or pre-priced catering, parties and functions are not eligible.
        %li Points added at time of purchase only. Not responsible for lost card.
        %li Points are for food only. No cash redemption value.
        %li Rewards good for both take out and dine in at all locations.
        %li 100 points reward = one luncheon combo or regular priced appetizer of $10 or less.
        %li 150 points reward = one dinner combo or regular priced entree of $15 or less.
        %li 200 points reward = one pupu platter or special featured item of $20 or less.
        %li Customer is responsible for meal tax and gratuity.
        %li Black out dates for both reward and redemption: Christmas Eve and New Years Eve
        %li Reward levels subject to change without notice.
%section#rewardsContentImage2{data: {type: 'background', speed: '2'}}
