.row
  .small-12.small-centered.columns
    .imageborder
      .event-image1

- @events.each do |event|
  .row
    .small-8.small-centered.columns
      .event-title
        %p= event.event_title
  .row
    .small-8.small-centered.columns
      .event-body
        %p= simple_format(event.body)
  %br
  %br
  %br
