#event.contentImage
.blurb.c
  .blurb-child
    %h3
      Please click on each header to check out the
      %span latest news
      and
      %span upcoming events.
      There's always something happening at the
      %span Great Chow
      !
  .blurb-child
    #eventIndex
      - @events.each do |event|
        .event-title
          %h3#eventTitle= event.event_title
        .event-body
          %p= simple_format(event.body)
%section#eventContentImage2{data: {type: 'background', speed: '2'}}
