.homeSliderContainer
  .homeSlider
    #homeImage1.slide
    #homeImage2.slide
    #homeImage3.slide
  #homeLogo
  #homeCaption
    %h1 Meet Friends, Eat Fresh
    %h5 An innovative local Asian restaurant serving the finest Asian-fusion
.blurb.row
  .medium-10.columns.medium-centered
    <h3> It isn't about eating out - it's about cultivating an <span>experience</span>. From <span>sashimi</span> to <span>szechuan </span>, only the freshest and highest quality of ingredients is served. </h3>
%section#homeContentImage1{data: {type: 'background', speed: '2'}}
.blurb.row
  .medium-10.columns.medium-centered
    <h3>An <span>innovative</span> West Coast dining concept, you'll find an <span>ultra modern</span> Los Angeles style structure to lure you in from the road with locations in Abington and Quincy.</h3>
  .medium-6.columns.p-top
    <h3><span>Abington Hours:</span></h3> <h4><span>Sun:</span> 12:00PM - 11:00PM</h4>
    <h4><span>Mon - Thurs:</span> 11:00AM - 11:00PM</h4>
    <h4><span>Fri - Sat:</span> 11:00AM - 1:00AM</h4>
  .medium-6.columns.p-top
    <h3><span>Quincy Hours:</span></h3> <h4><span>Sun:</span> 11:00AM - 10:30PM</h4>
    <h4><span>Mon - Wed:</span> 10:30AM - 11:00PM</h4>
    <h4><span>Thurs - Sat:</span> 10:30AM - 11:30PM</h4>
%section#homeContentImage2{data: {type: 'background', speed: '2'}}
