.homeSliderContainer
  .homeSlider
    #homeImage1.slide
    #homeImage2.slide
    #homeImage3.slide
  #home2
  #homeCaption
    %h1
      Meet Friends,
      %br
      Eat Fresh
    %h5 An innovative local Asian restaurant serving the finest Asian-fusion
.blurb.r
  .blurb-child
    <h1> Welcome to </br> The Great Chow </h1>
    <h4> It isn't about eating out - it's about cultivating an <span>experience</span>. From <span>sashimi</span> to <span>szechuan </span>, only the freshest and highest quality of ingredients is served. </h4>
  .blurb-child
    #homeBlurbImage1
%section#homeContentImage1{data: {type: 'background', speed: '2'}}
.blurb.c
  .blurb-child
    <h3>An <span>innovative</span> West Coast dining concept, you'll find an <span>ultra modern</span> Los Angeles style structure to lure you in from the road with locations in <span>Abington</span> and <span>Quincy</span>.</h3>
    .blurb-child
      .hours
        .blurb-child
          %h3
            %span Abington Hours:
          %h4
            %span Sunday:
            12:00PM - 11:00PM
          %h4
            %span Monday:
            11:00AM - 11:00 PM
          %h4
            %span Tuesday:
            11:00AM - 11:00 PM
          %h4
            %span Wednesday:
            11:00AM - 11:00 PM
          %h4
            %span Thursday:
            11:00AM - 11:00 PM
          %h4
            %span Friday:
            11:00AM - 1:00 AM
          %h4
            %span Saturday:
            11:00AM - 1:00 AM
        .blurb-child
          %h3
            %span Quincy Hours:
          %h4
            %span Sunday:
            11:00 AM 10:30PM
          %h4
            %span Monday:
            10:30AM - 11:00 PM
          %h4
            %span Tuesday:
            10:30AM - 11:00 PM
          %h4
            %span Wednesday:
            10:30AM - 11:00 PM
          %h4
            %span Thursday:
            10:30AM - 11:30PM
          %h4
            %span Friday:
            10:30AM - 11:30PM
          %h4
            %span Saturday:
            10:30AM - 11:30PM
%section#homeContentImage2{data: {type: 'background', speed: '2'}}
