.row
  .small-12.small-centered.columns
    .imageborder
      .about-image1
.row
  .small-12.small-centered.columns
    .aboutblurb
      %p
        The Legend Continues...
      %p
        Celebrating 20 years of the Great Chow Dining Experience!
      %p
        The exciting journey for The Great Chow Group began in the early summer of 1996.  Bill Ma, the founder, was approached by a friend who owned the building of the original location of Great Chow in Quincy, Massachusetts.  The friend was seeking someone to take over the slow, dwindling business of the tired and aged American diner. After just one look at the property, Bill knew it would be here that “The Legend” would be born.  Wasting no time, Bill and his wife, Pat, and a long time business associate, Andy Kwan, immediately started creating a plan to build a new restaurant with a catchy name, a clean and modern image and, most importantly, a desire to serve the freshest and greatest tasting Asian day-to-day meals.
      %p
        On January 19, 1997, Great Chow started to serve the City of Quincy and the neighboring communities with the one and only philosophy of serving the best tasting food at the most affordable price. It’s been a hit since day one and the restaurant continues to be a hot spot for people from near and far. Over the years, Great Chow has been “The Talk of The Town” generating numerous positive articles and reviews from the printed media, TV and radio. You’ll find people from all walks of life frequenting Great Chow for one common reason; they come for the “Great Chow.” They all know that the freshest and highest quality ingredients are mandates of the menu and that the friendly and attentive service is always the top priority of the owners.
      %p
        In 2010 the introduction of the newest Great Chow restaurant, Great Chow18, opened in Abington. It’s located on Rt.18 and thus the name. Bill and his new business associate, Sing Lau, envisioned a new and exciting concept for this great new location. Together with the existing management team, Bill came up with the idea of bringing the carefree and innovative California dining concept to New England. They spent over a year building the most unique Chinese restaurant on the South Shore.  At Great Chow18, you’ll find an ultra modern Los Angeles style structure to lure you in from the road. Once inside, you’ll be amazed by the ambience, the décor, the friendly staff, the one of a kind slow motion waterfall, the energy of the Fortune Cookie Lounge with its huge TV’s, the Sushi bar and the live dance music on weekends. At Great Chow18 in Abington, it isn’t only about eating out; it’s about having a good time and a great meal in one package. It’s an overall experience we think you’ll agree is absolutely priceless.
      %p
        Bon Appétit!
      %p
        The Great Chow Management Team
