#press.contentImage
  %p.mainCaption Press
.blurb.c
  .blurb-child
    <h3> Over the years, Great Chow has created local attention and has been <span>the talk of the town</span>, generating numerous positive articles and reviews from the <span>printed media</span>, <span>TV</span>, and <span>radio</span>. </h3>
  .blurb-child
    .blurb.r
      .blurb-child
        %a{ href: 'http://www.great-chow.com/press/pl_oct07.php'}
          =image_tag  "press_img2.jpg"
      .blurb-child
        %a{ href: 'http://www.great-chow.com/press/bg_jan08.php'}
          =image_tag  "press_img3.jpg"
      .blurb-child
        %a{ href: 'https://www.facebook.com/greatchow18/'}
          =image_tag  "press_img4.jpg"
%section#pressContentImage2{data: {type: 'background', speed: '5'}}
