.row
  .small-6.columns
    .imageborder
      =image_tag  "press_img1.jpg"
  .small-6.columns
    .imageborder
      %a{ href: 'http://www.great-chow.com/press/pl_oct07.php'}
        =image_tag  "press_img2.jpg"
    .imageborder
      %a{ href: 'http://www.great-chow.com/press/bg_jan08.php'}
        =image_tag  "press_img3.jpg"
    .imageborder
      %a{ href: 'https://www.facebook.com/greatchow18/'}
        =image_tag  "press_img4.jpg"    
