%section#pressContentImage1{data: {type: 'background', speed: '2'}}
.blurb.row
  .medium-8.columns.medium-centered
    <h3> Over the years, Great Chow has created local attention and has been <span>the talk of the town</span>, generating numerous positive articles and reviews from the <span>printed media</span>, <span>TV</span>, and <span>radio</span>. </h3>
.blurb.row.press-elements
  .medium-4.columns.medium-offset-1
    %a{ href: 'http://www.great-chow.com/press/pl_oct07.php'}
      =image_tag  "press_img2.jpg"
  .medium-4.columns
    %a{ href: 'http://www.great-chow.com/press/bg_jan08.php'}
      =image_tag  "press_img3.jpg"
  .medium-3.columns
    %a{ href: 'https://www.facebook.com/greatchow18/'}
      =image_tag  "press_img4.jpg"
%section#pressContentImage2{data: {type: 'background', speed: '2'}}
