#contactContentImage1{
  background-image: image-url('contact_img1.jpg');
}

.contactblurb{
  background: #3b1d12;
  border: solid white 1px;
  text-align: left;

  p, h2{
    font-family: 'Raleway', sans-serif;
    color: white;
    position: relative;
    padding-left: 3%;
    padding-top: 3%;
  }
}

textarea#contactmessage{
  height: 15rem;
}
