#eventContentImage1{
  background-image: image-url('event_img1.jpg');
}

#eventContentImage2{
  background-image: image-url('event_img2.jpg');
}

.ui-state-focus{
  outline: none;
}

#eventIndex{
  padding: 5% 0;
}

.event-title{
  background-color: #3b1d12;
  border: solid white 2px;
  position: relative;
  text-align: center;

  &:hover, &:focus{
    background-color: #756059;
  }

  h3{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    padding: 2% 2%;
  }
}
.event-body{
  background-color: #4f2718;
  border: dashed white 1px;
  border-top: none;
  margin-bottom: 7%;
  text-align: left;

  p{
    color: #f4f4f4;
    position: relative;
    padding-left: 3%;
    padding-top: 1%;
  }
}

textarea#message_area{
  height: 30rem;
}
