#eventContentImage1{
  position:relative;
  background: image-url('event_img1.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:80vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

#eventContentImage2{
  position:relative;
  background: image-url('event_img2.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:50vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

.event-title{
  background: #3b1d12;
  border: solid white 2px;
  position: relative;
  text-align: center;

  h2{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.event-body{
  background: #3b1d12;
  border: dashed white 1px;
  border-top: none;
  margin-bottom: 7%;
  text-align: left;

  p{
    color: #f4f4f4;
    position: relative;
    padding-left: 3%;
    padding-top: 1%;
  }
}

textarea#message_area{
  height: 30rem;
}
