#homeLogo{
  position: absolute;
  display: none;
  height: 30vh;
  width: 40vw;
  top: 0;
  margin-left: 12vw;
  margin-top: 30vh;
  background: image-url('gc-logo-white.png');
  opacity: 0.85;
  background-size: contain;
  background-repeat: no-repeat;
}

#homeCaption{
  position: absolute;
  display: none;
  height: 30vh;
  width: 30vw;
  top: 0;
  margin-left: 60vw;
  margin-top: 60vh;

  h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  h5{
    color: silver;
    font-family: 'Raleway', sans-serif;
  }
}

#homeContentImage1{
  position:relative;
  background: image-url('home_content_img1.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

#homeContentImage2{
  position:relative;
  background: image-url('home_content_img2.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height: 70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

#homeContentImage3{
  position:relative;
  background: image-url('home_content_img3.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height: 80vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}
