//--- Sliding Images ---//

.homeSliderContainer{
  position: relative;
  height: 100vh;

  .slide{
    background-size: cover;
    background-position:center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 50%;
  }
}

#homeImage1 {
  background-image: image-url('home_slide_img2.jpg');
}
#homeImage2{
  background-image: image-url('home_slide_img1.jpg');
}
#homeImage3{
  background-image: image-url('home_slide_img3.jpg');
}
 
#homeLogo{
  position: absolute;
  display: none;
  height: 30vh;
  width: 40vw;
  top: 0;
  margin-left: 12vw;
  margin-top: 20vh;
  background: image-url('gc-logo-white.png');
  opacity: 0.85;
  background-size: contain;
  background-repeat: no-repeat;
}

#homeCaption{
  position: absolute;
  display: none;
  height: 30vh;
  top: 0;
  margin-left: 60vw;
  margin-top: 60vh;
  padding-right:50px;

  @media screen and (max-height: 700px), screen and (max-width: 500px){
    margin-top: 40vh;
  }

  h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: calc(2em + 0.4vw);
  }

  h5{
    color: silver;
    font-family: 'Raleway', sans-serif;
  }
}

#homeContentImage1{
  background-image: image-url('home_content_img1.jpg');
}

#homeContentImage2{
  background-image: image-url('home_content_img2.jpg');
}
