.takeout-menu{
  text-align: center;
  display: flex;
  justify-content: space-around;

  a{
    margin-top: 2vh;
    border: solide white 1px;
    background-color: #6d0019;
  }
  a:hover{
    transition: background-color 1s ease;
    background-color: #e67300;
  }
}

#menuContentImage1{
  background-image: image-url('menu_img1.jpg');
}

#menuContentImage2{
  background-image: image-url('menu_img2.jpg');
}

#menuContentImage3{
  background-image: image-url('menu_img5.jpg');
}
