.takeout-menu{
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  a{
    border: solid white 1px;
    background-color: #6d0019;
    margin: 20px;
    font-family: 'Raleway';
  }
  a:hover{
    transition: background-color 1s ease;
    background-color: #e67300;
  }
}

#menu{
  background-image: image-url('menu_img2.jpg');
}

#menuContentImage2{
  background-image: image-url('menu_img1.jpg');
  background-position: bottom center;
}

#menuContentImage3{
  background-image: image-url('menu_img5.jpg');
}
