@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.takeoutmenu{
  background: #3b1d12;
  border: solid white 2px;
  position: relative;
  text-align: center;

  ul{
    display: inline-block;
    @media screen and (max-width: 955px){
      display: block;
    }
    a{
      background-color: #6d0019;
    }
    a:hover{
      transition: background-color 1s ease;
      background-color: #e67300;
    }
  }

  p{
    color: white;
    position: relative;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
  }
  @media screen and (max-width: 3000px){
    p{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 800px){
    p{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 450px){
    p{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 350px){
    p{
      font-size: 10px;
    }
  }
}

.menublurb{
  background: #3b1d12;
  border: solid white 2px;
  height: 40vh;
  position: relative;
  text-align: center;

  p{
    color: white;
    @include vertical-align;
    position: relative;
    padding-right: 3%;
    padding-left: 3%;
  }

  @media screen and (max-width: 3000px){
    p{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 800px){
    p{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 450px){
    p{
      font-size: 11px;
    }
  }
  @media screen and (max-width: 350px){
    p{
      font-size: 9px;
    }
  }
}

.menu-image1{
  background: image-url('menu_img1.jpg');
  background-size: cover;
  height: 50vh;
}
.menu-image2{
  background: image-url('menu_img2.jpg') center;
  background-size: auto 100%;
  height: 39.5vh;
}
.menu-image3{
  background: image-url('menu_img3.jpg') center;
  background-size: auto 100%;
  height: 39.5vh;
}
