.takeout-menu{
  text-align: center;
  display: flex;
  justify-content: space-around;

  a{
    margin-top: 2vh;
    border: solide white 1px;
    background-color: #6d0019;
  }
  a:hover{
    transition: background-color 1s ease;
    background-color: #e67300;
  }
}

#menuContentImage1{
  position:relative;
  background: image-url('menu_img1.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:75vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

#menuContentImage2{
  position:relative;
  background: image-url('menu_img2.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}

#menuContentImage3{
  position:relative;
  background: image-url('menu_img5.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
}
