#rewardsContentImage1{
  position:relative;
  background: image-url('reward_img3.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:80vh;
  opacity: 0.8;
  background-repeat: no-repeat;
}

#rewardsContentImage2{
  position:relative;
  background: image-url('reward_img1.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  min-height:50vh;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.rewardsblurb{
  background: #3b1d12;
  border: dashed white 1px;
  margin-bottom: 7%;
  text-align: left;
  padding-top: 2%;

  ul{
    color: white;
    padding-left: 3%;
    text-align: left;
    font-family: 'Raleway', sans-serif;

    li{
      padding-bottom: 2%;
    }
  }
}
