// $sidebar-width: 90px;
//
// .inner-wrap {
//   width: auto;
// }
//
// .move-right .inner-wrap {
//   -ms-transform: none;
//   -webkit-transform: none;
//   -moz-transform: none;
//   -ms-transform: none;
//   -o-transform: none;
//   transform: none;
//   margin-left: $sidebar-width;
// }
//
// .left-off-canvas-menu {
//   -ms-transform: none;
//   -webkit-transform: none;
//   -moz-transform: none;
//   -ms-transform: none;
//   -o-transform: none;
//   transform: none;
//   position: fixed;
//   width: 0;
//   height: 100%;
// }
//
// .move-right .left-off-canvas-menu {
//   width: $sidebar-width;
// }
//
// .move-right .exit-off-canvas {
//   display: none;
// }
//
// .left-off-canvas-toggle {
//   display: none;
//   margin-top: 1rem;
//   margin-left: 1rem;
//   font-size: 3rem;
//   transition: all .25s ease-in-out;
// }
//
// .ad-block {
//   margin-bottom: 2rem;
// }

#navSidebar{
  height: 100%;
  width: 100px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;

  a{
    display: block;
    transition: 0.3s;

    i{
      color: white;
      font-size: 35px;
    }

    label{
      color: white;
    }
    &:hover{
      transition: background-color 1s ease;
      background-color: #e67300;
    }
  }
}
