#navSidebar{
  height: 100%;
  width: 100px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;

  a{
    display: block;
    transition: 0.3s;

    i{
      color: white;
      font-size: 35px;
    }

    label{
      color: white;
    }
    &:hover{
      transition: background-color 1s ease;
      background-color: #e67300;
    }
  }
}
