/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation_and_overrides';
@import 'slick';
@import 'slick-theme';
@import 'menu';
@import 'event';
@import 'about';
@import 'contact';
@import 'navbar';

html, body{
  height: 110%;
  background: #6d0019; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1b0b05 20%, #5a2511 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1b0b05 20%, #5a2511 72%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1b0b05 20%,#5a2511 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.footer{
  p{
    color: white;
  }
  @media screen and (max-width: 3000px){
    p{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 800px){
    p{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 450px){
    p{
      font-size: 10px;
    }
  }
}

.imageborder{
  border: 2px solid white;
}

.slidingimage1 {
  background: url('/assets/home_img1.jpg');
	background-size: cover;
  height: 50vh;
}
.slidingimage2{
  background: url('/assets/home_img2.jpg');
	background-size: cover;
  height: 50vh;
}
.slidingimage3{
  background: url('/assets/home_img3.jpg');
	background-size: cover;
  height: 50vh;
}
.slidingimage4{
  background: url('/assets/home_img4.jpg');
	background-size: cover;
  height: 50vh;
}
.slidingimage5{
  background: url('/assets/home_img5.jpg');
	background-size: cover;
  height: 50vh;
}
