/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/accordion
 *= require foundation_and_overrides

 */

@import 'foundation_and_overrides';
@import 'menu';
@import 'event';
@import 'contact';
@import 'sidebar';
@import 'rewards';
@import 'home';
@import 'slick';
@import 'slick-theme';
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400';

html, body{
  background: #1b0b05; /* Old browsers */
  background: linear-gradient(135deg, #1b0b05 20%,#5a2511 72%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// GLOBAL STYLES
.main-container{
  font-size: calc(1rem + .8vw);
}

.blurb{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  overflow:visible;

  h3, h4{
    font-family: 'Raleway', sans-serif;
    color: #c2c2c2;
    font-weight: 300;
    font-size: 1em;

    span{
      color: white;
      font-weight: bold;
    }
  }
}

.footer{
  margin-left: 8%;
  margin-bottom: 3%;

  h6{
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  .small-12{
    padding-top: 5%;
  }
}

.p-top{
  padding-top: 100px;
}
section{
  position: relative;
  max-width: 100%;
  background-size: cover;
  min-height: 70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
//--- Sliding Images ---//

.homeSliderContainer{
  position: relative;
  height: 100vh;

  .slide{
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

#homeImage1 {
  background-image: image-url('home_slide_img1.jpg');
}
#homeImage2{
  background-image: image-url('home_slide_img2.jpg');
}
#homeImage3{
  background-image: image-url('home_slide_img3.jpg');
}
