/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation_and_overrides';
@import 'menu';
@import 'event';
@import 'contact';
@import 'sidebar';
@import 'rewards';
@import 'home';
@import 'slick';
@import 'slick-theme';
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400';
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700');

html, body{
  background: #1b0b05; /* Old browsers */
  background: linear-gradient(135deg, #1b0b05 20%,#5a2511 72%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// GLOBAL STYLES
.main-container{
  font-size: calc(1rem + .8vw);
}

.blurb{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 9vh;
  margin-bottom: 9vh;
  padding-left: 120px;
  text-align: center;
  @media screen and (max-height: 700px), screen and (max-width: 500px){
    flex-flow: column nowrap;
    padding: 0 40px;
  }
  .blurb-child{
    width: 45%;
    max-width:625px;
    @media screen and (max-height: 700px), screen and (max-width: 500px){
      width: auto;
      h4{
        padding-bottom:30px;
      }
    }
    h1{
      font-family: 'Alegreya Sans SC', sans-serif;
      color: white;
      font-size: 2.5em;
      font-weight:700;
      padding-bottom: 20px;
    }

    h3, h4{
      font-family: 'Raleway', sans-serif;
      color: #c2c2c2;
      font-weight: 300;

      span{
        color: white;
        font-weight: bold;
      }
    }

    h4{
      font-size: .8em;
    }
  }
}

.footer{
  margin-left: 10%;
  margin-bottom: 3%;

  a{
    color: orange;
    font-weight: bold;
    transition: color .5s ease-in-out 0s;

    &:hover{
      color: #FFFF4C;
    }
  }

  h6{
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  .small-12{
    padding-top: 5%;
  }
}

.p-top{
  padding-top: 100px;
}
section{
  position: relative;
  max-width: 100%;
  background-size: cover;
  min-height: 70vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
