/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation_and_overrides';
@import 'menu';
@import 'event';
@import 'contact';
@import 'sidebar';
@import 'rewards';
@import 'home';
@import 'slick';
@import 'slick-theme';
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400';
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700');

html, body{
  background: #1b0b05; /* Old browsers */
  background: linear-gradient(135deg, #311409
 34%,#9c401d 82%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// GLOBAL STYLES
.main-container{
  font-size: calc(1rem + .8vw);
}

.blurb{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 5vh 0;
  padding-left: 100px;
  text-align: center;

  &.r{
    flex-direction: row;
    @media screen and (max-height: 700px), screen and (max-width: 650px){
      flex-direction: column;
      padding: 0 40px;
    }
  }

  &.c{
    flex-direction: column;
  }

  .blurb-child{
    width: 80vw;
    padding: 0 10px;
    max-width: 1000px;
    @media screen and (max-height: 700px), screen and (max-width: 650px){
      width: 100%;
      h4{
        padding-bottom:30px;
      }
    }
    h1{
      font:{
        family: 'Alegreya Sans SC', sans-serif;
        size: calc(2em + 0.9vw);
        weight: 700;
      }
      color: white;
      padding-bottom: 20px;
      text-shadow: 1px 1px 2px black;
    }

    h3, h4{
      color: #e6e6e6;
      font:{
        family: 'Raleway', sans-serif;
        weight: 300;
      }

      span{
        color: white;
        font-weight: bold;
        text-shadow: .5px .5px 1px black;
      }

      &#menuTagUp{
        text-align: left;
      }

      &#menuTagDown{
        text-align: right;
        margin-top: 5%;
      }
    }

    h4{
      font-size: .8em;
    }
  }
}

.footer{
  margin-left: 10%;
  margin-bottom: 3%;

  a{
    color: orange;
    font-weight: bold;
    transition: color .5s ease-in-out 0s;

    &:hover{
      color: #FFFF4C;
    }
  }

  h6{
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  .small-12{
    padding-top: 5%;
  }
}

.contentImage{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: image-url('menu_img2.jpg');
  height: 100vh;
  -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
  animation: 1.5s ease 0s normal forwards 1 fadein;
}
@keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

.p-top{
  padding-top: 100px;
}
section{
  position: relative;
  max-width: 100%;
  background-size: cover;
  min-height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
