%footer.footer
  .row
    .small-3.columns
      %p.slogan 497 Bedford Street
      %p.slogan Abington, MA 02351
      %p Phone: 781.871.8832 | Fax: 781.871.2268
    .small-3.columns
      %p.slogan 17 Beale Street
      %p.slogan Wollaston Quincy, MA 02170
      %p Phone: 617.328.8918 | Fax: 617.328.8166
    .small-3.columns
      %p.slogan Read more about our Reward Card!
      %p.slogan Follow Us! 
