%footer.footer
  .row
    .small-12.medium-3.columns
      %h6
        497 Bedford Street
        Abington, MA 02351
      %h6
        Phone: 781.871.8832
        %br
        Fax: 781.871.2268
    .small-12.medium-3.columns
      %h6
        17 Beale Street
        Wollaston Quincy, MA 02170
      %h6
        Phone: 617.328.8918
        %br
        Fax: 617.328.8166
    .small-12.medium-3.columns
      %h6
        Read more about our
        = link_to "Rewards Card!", rewards_path
