%br
%br
%br
%footer.footer
  .row
    .small-3.columns
      %p
        497 Bedford Street
        Abington, MA 02351
      %p
        Phone: 781.871.8832
        Fax: 781.871.2268
    .small-3.columns
      %p
        17 Beale Street
        Wollaston Quincy, MA 02170
      %p
        Phone: 617.328.8918
        Fax: 617.328.8166
    .small-3.columns
      %p
        Read more about our
        = link_to "Rewards Card!", rewards_path, style: 'color: #ffd500;'
