.hide-for-small-only
  #navSidebar
    %a{href: '/'}
      %i.fi-home
      %label Home
    %a{ href: '/menus'}
      %i.fi-braille
      %label Menu
    %a{ href: '/events'}
      %i.fi-page-multiple
      %label Events
    %a{ href: '/press'}
      %i.fi-social-instagram
      %label Press
    %a{ href: '/contacts'}
      %i.fi-mail
      %label Contact
-#
-# .show-for-small-only
-#   .row
-#     .small-3.columns
-#       #mobile-logo
-#     .small-3.columns
-#       %a{ 'data-dropdown' => 'drop1', 'aria-controls' => 'drop1', 'aria-expanded' => 'false'}
-#         %i.fi-list
-#       %ul#drop1.f-dropdown{ 'data-dropdown-content' => 'true', 'aria-hidden' => 'true'}
-#         %li
-#           %a{ href: '/' }Home
-#         %li
-#           %a{ href: '/menus' }Menu
-#         %li
-#           %a{ href: '/events' }Events
-#         %li
-#           %a{ href: '/abouts' }About
-#         %li
-#           %a{ href: '/contacts' }Contact
-#         -if current_admin
-#           %li.has-dropdown
-#             %a{ href: '#' }
-#               %i.fi-lock
-#             %ul.dropdown
-#               %li
-#                 %a{ href: '/admins/edit'}Settings
-#               %li
-#                 = link_to "Sign Out", destroy_admin_session_path, method: :delete
-#               %li
-#                 = link_to "PORTAL", portals_path
