.contain-to-grid
  %nav.top-bar#top_bar{data: {topbar: true}, role: "navigation"}
    %ul.title-area.inline-list
      %li
        %img{src: "/assets/greatchowlogo.jpg"}
      %li.show-for-small-only.toggle-topbar.menu-icon
        %a{href: "#"}MENU
    %section.top-bar-section
      %ul.right.inline-list
        %li
          %a#defaultfont{ href: "/home" }Home
        %li
          %a#defaultfont{ href: "/about" }About
        %li
          %a#defaultfont{ href: "/menu" }Menu
        %li
          %a#defaultfont{ href: "/events" }Events
        %li
          %a#defaultfont{ href: "/contact" }Contact

      - if current_admin
        %ul.right.inline-list
          %li
            %a{href: "/friendships"}Who's Chillin?
          %li
            %a{href: "/profiles"}Profile
          %li
            %a{href: "/users/edit"}Settings
          %li
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          %li.has-dropdown
            %a{href: "#"}
              %i.fi-lock
            %ul.dropdown
              - if current_admin
                %li
                  %a#defaultfont{href: "/admin/edit"}SETTINGS
                %li
                  = link_to "SIGN OUT", destroy_admin_session_path, method: :delete
                %li
                  = link_to "PORTAL", portals_path
              - else
                %li
                  %a#defaultfont{href: "/admins/sign_in"}SIGN IN
